doctype html
html(lang='en')
  head
    title start-kit
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')

    link(rel='stylesheet', href='assets/css/main.css')

  body
    header
      .wrapper
        a.logo(href="#") Cathrine Reinert
        nav
          a.active(href="#") Om
          a(href="#") Arbejde
          a(href="#") Booking
          a(href="#") Kontakt
    .page-home
      .hero
        .wrapper
          h1 Noget skal stå her!
          p noget andet skal stå her!
      .wrapper
        .main-content
        
    script(src='assets/js/jquery-2.1.4.min.js')
    script(src='assets/js/functions.js', type='text/javascript')
